Source: cuckoo
Section: misc
Priority: optional
Maintainer: Rémi BUISSON <remi.buisson@cdiscount.com>
Build-Depends: debhelper (>= 4.0.0), dh-systemd (>= 1.5)
Standards-Version: 3.9.5

Package: cuckoo
Architecture: any
Depends: python-sqlalchemy,
         python-bson,
         python-jinja2,
         python-pymongo (>= 2.7), python-pymongo (<< 3.0),
         python-bottle,
         python-pefile,
         python-django,
         python-chardet,
         python-nose,
         python-distorm3,
         python-yara,
         python-dpkt,
         python-pydeep
Suggests: python-libvirt, libvirt-daemon, libvirt-bin, tcpdump, python-volatility
Description: In three words, Cuckoo Sandbox is a malware analysis system.

Package: cuckoo-libvirt
Architecture: any
Depends: cuckoo,
         python-libvirt,
         libvirt-daemon,
         libvirt-bin
Description: Cuckoo Sandbox with libvirt.

Package: cuckoo-restapi
Architecture: any
Depends: cuckoo,
         python-mysqldb,
Description: Cuckoo Sandbox REST api.

Package: cuckoo-distributed
Architecture: any
Depends: cuckoo,
         python-mysqldb,
         python-flask,
         python-flask-sqlalchemy,
         python-flask-restful,
         python-requests
Description: Cuckoo Sandbox distributed.

Package: cuckoo-process
Architecture: any
Depends: cuckoo
Description: Cuckoo Sandbox process script.

